certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonify==0.5
MarkupSafe==2.0.1
pip==21.1.1
requests==2.25.1
setuptools==52.0.0.post20210125
sklearn-pandas==2.2.0
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
wheel==0.36.2
wincertstore==0.2
zipp==3.4.1
